:root {
    --shadow-color: #cfc6c6;
    --transition-duration: 3s;
}

h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.certificates_sec,
#carousel,
#all_certificates {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.certificates_sec {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
position: relative;
}

.carousel-image {
    border-radius: 10px;
box-shadow: 3px 3px 5px 6px var(--shadow-color);
    opacity: 0;
animation: opacity_transition var(--transition-duration) infinite;
}

@keyframes opacity_transition {

    0%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}

.controls {
    position: absolute;
}

#carousel {
    justify-content: center;
    align-items: center;
}

#all_certificates {
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
